<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="./lib/skeleton/normalize.css">
    <link rel="stylesheet" href="./lib/skeleton/skeleton.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Überschrift</h1>
        <h2>{{name}}</h2>
        {% for item in items %}
            <p>{{item}}</p>
        {% endfor %}

        <p class="important">Wichtig!</p>
        <p>Das ist der Seiteninhalt</p>
        <h2>Unterüberschrift</h2>
        <p>Noch ein Absatz</p>
    </div>
</body>
</html>